<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <!-- nation-managerment -->
    <div class="col-md-12"><nation-table-list></nation-table-list></div>
    <!-- certype-managerment -->
    <div class="col-md-12"><certype-table-list></certype-table-list></div>
    
    <!-- shift-management -->
    <div class="col-md-12"><shift-table-list></shift-table-list></div>
    <!-- record-management -->
    <div class="col-md-12"><record-table-list></record-table-list></div>
    <!-- degree-management -->
    <div class="col-md-12"><degree-table-list></degree-table-list></div>
    <!-- province-management -->
    <div class="col-md-12"><province-table-list></province-table-list></div>
    

  </div>
</div>
